@font-face {
    font-family: "monserrat";
    src: url(../../assets/fonts/montserrat-variablefont_wght.ttf)
}

@font-face {
    font-family: "lora";
    src: url(../../assets/fonts/lora-variablefont_wght.ttf);
}

@font-face {
    font-family: "hind";
    src: url(../../assets/fonts/hindmadurai-regular.ttf);
}
